@import "./global_variable";

body{
    overflow: hidden;
    overflow-y: auto;
    font-family: PingFang SC;
}
.router-wrap{
    position: relative;
   height:$heder_wrap_height;
   width:100%;
   display: flex;
   align-items: center;
   background-color: $main_bg_color;
   z-index: 2;
   .link-wrap{
        height:$heder_height;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: $main_container_width;
        margin:0 auto;
       
        .to-login{
            color: #3bc9bb;
            display: block;
            width: 92px;
            height: 34px;
            line-height: 34px;
            border-radius: 34px;
            background: #fff;
            text-align: center;
            &.other-page{
                border-radius: 3px;
                background: #3bc9bb;
                color: #fff;
                &:hover{
                   background-color: #21e5de;
                }
            }
        }
        .nav-bar{
            display: flex;
            li{
                padding:0 20px;
                a{
                    color:$menu_default_color;
                    &.nuxt-link-exact-active{
                        color:#fff;
                    }
                }
            }
            &.other-page{
              a{
                color: #333;
                &.nuxt-link-exact-active{
                    color:$menu_active_color;
                }
              }
             }
        }
}

}
.footer-wrap{
    height: 437px;
    background: #141621;
    >ul{
        display: flex;
        padding-top:60px;
        display: flex;
        justify-content: center;
        >li{
            margin:0 92px;
            p{
                color:#636578;
                margin-bottom: 30px;;
                &.title{
                    color:#fff;
                }
            }
            &.left-item{
                margin-right:22px ;
                .title{
                    margin-bottom: 15px;
                }
                .tel{
                    font-size: 24px;;
                }
                button{
                    width: 88px;
                    height: 30px;
                    background: rgba(85, 85, 85, 0.3);
                    border: 1px solid #FFFFFF;
                    border-radius: 2px;
                    margin-top:15px;
                    color:#fff;
                }
            }
        }
        .code-info{
            width: 130px;
            margin-top:5px;;
            text-align: center;
        }
    }
    .introduce{
        color:#636578;
        text-align: center;
        margin-top: 40px;;
        p{
            margin-top:10px;
        }
    }









   
}
.copyright{
    width: 1920px;
    height: 60px;
    background: #0C0E14;
    font-size: 13px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #636578;
    line-height: 14px;  
    text-align: center;
    line-height: 60px;
}

